
<!-------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Electronics <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Auto-mobiles</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Drugs</a></li>
            </ul>

        </div>
        <!-------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9 col-md-10">
            <h1 class="page-header">AD CATEGORY</h1>


            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-1">Date</th>
                            <th class="col-md-1">Price</th>
                            <th class="col-md-1">Location</th>
                            <th>ADS</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ad in ads ">
                            <td>{{ad.createdAt | date : 'shortDate'}}</td>
                            <td>{{ad.price}}</td>
                            <td>{{ad.userPointer.location}}</td>
                            <td><a href="/viewListing?_id={{ad._id}}">{{ad.title}}</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
