

<!--search-->

<!--ss--->
<!-- Page Header -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">

                <h1>ADS DONE BETTER</h1>

            </div>
        </div>

    </div>
</div>
<div style="background-color:white">
<hr>
<!--------------------->

<div class="container">

    <!-- Search -->

    <div class="col-md-10 col-md-offset-2">
        <form class="search-form" ng-submit="search(query)">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" ng-model="query" placeholder="search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>

    <!-- Search end -->


</div>
<!-- /header end -->

<!-- This is one row -->
<div class="container">

    <div class="row bootstrap snippets">

        <div ng-repeat="ad in ads | orderBy:'-createdAt' | limitTo:15:(number)" class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="height: 425px">
            <div class="card">
                <div class="thumbnail" style="background-size: cover; background-repeat:no-repeat; background-image: url('files/images/{{ad.imagePointer[0]}}')">
                    <a href="#" class="thumb-cover"></a>
                    <div class="details">

                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-clock-o"></i>{{ad.createdAt | custDate}}</b>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <b class="actions">
                        <a class="btn btn-neutral btn-round btn-fill" href="viewListing?_id={{ad._id}}">Learn More</a>

                    </b>
                </div>
                <div class="card-info">
                    <a href="#">
                        <h3>{{ad.title}}
                            <div ng-style="((ad.delta = ad.price - (ad.ppvPointer.ppv || ad.price)) <= 0) ? {color: 'green'}:{color: 'red'}" class="time pull-right">{{ad.price | currency}} {{ad.delta | custDelta}}</div>
                        </h3>
                        <div ng-style="qualityOptions[ad.quality - 1].style"><i class="fa fa-circle-o"></i></div>
                        <p>{{qualityOptions[ad.quality - 1].text}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- / We need about 3 a page -->


</div>
<hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li ng-class="number==0?'active':''">
                <a ng-click="number=0">1</a>
            </li>
            <li ng-class="number==15?'active':''">
                <a ng-click="number=15">2</a>
            </li>
            <li ng-class="number==30?'active':''">
                <a ng-click="number=30">3</a>
            </li>
            <li ng-class="number==45?'active':''">
                <a ng-click="number=45">4</a>
            </li>
            <li ng-class="number==60?'active':''">
                <a ng-click="number=60">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->



<hr>

<!-- Footer -->
<footer>

</footer>

</div>