
<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   
   <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Profile Page</title>
	
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	
	
	
	
	
	 <!--Actual Assests -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="pPage.css" rel="stylesheet">
	
	
	
	
 
 </head>

  <body>


		<div class="container">
				<div class="pPage-topBar">
					<img class="pPage-topBar-embed" src="images\sky.jpg" alt="cover">
				</div>
						
				<div class="pPage-topBar pPage-topBar-sm">
						<div class="row">
							<div class="col-md-6 col-xs-8">
							  <div class="media">
								<div class="media-left">
								  <a class="kit-avatar kit-avatar-64 no-padding border-white hidden-xs" href="#">
									<img alt="cover" src="images\wl.png">
								  </a>
								  
								</div>
								<div class="media-body">
								  <h2 class="display-name media-heading text-red hidden-xs">Atif Khan</h2>
								  <h3 class="display-name media-heading text-red visible-xs">Atif Khan</h3>
								  <p class="text-muted"><span class="mr-2x">San Jose State University   </span> <span><i class="fa fa-envelope-o hidden-xs"></i> atif.khan@sjsu.edu</span></p>
								</div><!-- /.pull -->
							  </div>
							</div><!-- /.cols -->
							<!-- NEW -->
							<div class="col-md-2 col-md-4 col-md-push-4 text-right">
							
							  <a class="btn btn-default"  data-placement="left" title="" aria-label="edit" data-original-title="edit"> <i class="fa fa-pencil fa-fw"></i> Edit</a>

							</div><!-- /NEW -->
						
							<div class="col-md-4 col-xs-12 col-md-pull-2 text-center">
							  <div class="row">
								<div class="col-xs-4">
								  <div class="p-1x">
									<span class="headline"><strong>29</strong></span>
									<p>Ads</p>
								  </div>
								</div><!-- /.cols -->
								<div class="col-xs-4">
								  <div class="p-1x">
									<span class="headline"><strong>22</strong></span>
									<p>Comments</p>
								  </div>
								</div><!-- /.cols -->
								<!-- /.cols NEW -->
								<div class="col-xs-4">
								  <div class="p-1x">
									<span class="headline"><strong>4.5/5</strong></span>
									<p>Rating</p>
								  </div>
								</div><!-- /.cols NEW-->
							  </div><!-- /.row -->
							</div><!-- /.cols -->
							
						</div><!-- /.row -->
				</div>
				
				<div class="feedback-ads-area">
							<ul class="feedback-ads">
								<li class="feedback-ads-line"></li>
								<li class="feedback-ads-group">
								  <a href="#" class="btn btn-default">5/2/16</a>
								</li>            
							</ul>
							
							<ul class="feedback-ads">
								<li class="feedback-ads-line" style="height:600px;">
								</li>
								
								<li class="feedback-ads-item feedback-ads-poster">
								  <div class="feedback-ads-badge">
									<a class="border-teal" rel="tooltip" title="" data-container="body" href="#" data-original-title="What will you do?"></a>
								  </div>
								  <div class="feedback-ads-panel panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true">
									<div class="panel-body">
									  <ul class="nav nav-tabs nav-contrast-red">
										<li class="active"><a data-toggle="tab" href="#" aria-expanded="true">Post Comment</a></li>
									  </ul>
									  <div class="tab-content pt-1x">
										<textarea name="feedback-adsPost" rows="6" class="form-control autogrow no-border no-resize" placeholder="Please comment" style="overflow: hidden; min-height: 6em; height: 52px;"></textarea><div class="autogrow-textarea-mirror" style="display: none; word-wrap: break-word; white-space: normal; padding: 6px 12px; width: 461px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">.<br>.</div>
									  </div>
									 
									</div><!-- /.panel-body -->
									<div class="panel-footer">
									  <div class="btn-group">
										<button type="button" class="btn btn-link"><i class="fa fa-heart"></i></button>
										<!--NEW -->
									  <label class="radio-inline"><input type="radio" name="optradio">1</label>
									  <label class="radio-inline"><input type="radio" name="optradio">2</label>
									  <label class="radio-inline"><input type="radio" name="optradio">3</label>
									  <label class="radio-inline"><input type="radio" name="optradio">4</label>
									  <label class="radio-inline"><input type="radio" name="optradio">5</label>
									<!-- /NEW-->
									  </div>
									  
									  <div class="pull-right">
										<button type="submit" class="btn btn-success">Post</button>
									  </div>
									</div><!-- /.panel-footer -->
								  </div><!-- /.feedback-ads-panel.panel -->
								</li>
								
								<li class="feedback-ads-item">
								  <div class="feedback-ads-badge">
									<a class="border-orange" rel="tooltip" title="" data-container="body" href="#" data-original-title="Post"></a>
								  </div>
								  <div class="feedback-ads-panel panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true">
									<div class="panel-body">
									  <div class="media mb-2x">
										<div class="media-left">
										  <a href="#" class="feedback-ads-avatar kit-avatar kit-avatar-42">
											<img class="media-object" src="images\sj.png" alt="">
										  </a>
										</div><!-- /.media-left -->
										<div class="media-body">
										  <p class="media-heading"><strong>John Franklin</strong> <br><small class="text-muted">30 minutes</small></p>
										</div><!-- /.media-body -->
									  </div><!-- /.media -->
								
									  <p>Assumenda, pariatur repellendus voluptatum eaque sint, quibusdam voluptatem nulla nesciunt placeat sunt tempore ad reiciendis ducimus dicta neque minima debitis delectus ab!</p>
									</div><!-- /.panel-body -->
								
									<div class="panel-body feedback-ads-resume">
									  <div class="pull-right" data-toggle="tooltip" title="" data-original-title="in this post">
										 <a href="#" class="btn btn-bordered btn-default btn-sm">4.4</a>
									  </div>
									 
									  <a href="#" class="btn btn-bordered btn-default btn-sm"><span class="fa fa-share fa-fw"></span> </a>
									</div><!-- /.panel-body -->
								
									<div class="panel-footer feedback-ads-livelines">
									  <form action="#">
										<a class="kit-avatar kit-avatar-28 no-border pull-left" href="#">
										  <img class="media-object" src="images\wl.png">
										</a>
										<div class="input-group input-group-in no-border">
										  <input class="form-control" placeholder="write comment...">
										  <div class="input-group-btn">
											<button type="submit" class="btn"><i class="fa fa-chevron-circle-right"></i></button>
										  </div>
										</div>
									  </form>
									</div><!-- /.panel-footer -->
								  </div><!-- /.feedback-ads-panel.panel -->
								</li>
								
								<li class="feedback-ads-item">
								  <div class="feedback-ads-badge">
									<a class="border-red" rel="tooltip" title="" data-container="body" href="#" data-original-title="photo"></a>
								  </div>
								  <div class="feedback-ads-panel panel fade in panel-default panel-fill" data-fill-color="true" data-init-panel="true">
									<div class="panel-body">
									  <div class="media mb-1x">
										<div class="media-left">
										  <a href="#" class="feedback-ads-avatar kit-avatar kit-avatar-42">
											<img src="images\wl.png" alt="">
										  </a>
										</div>
										<div class="media-body">
										 
										  <p class="media-heading"><strong>Atif Khan</strong><br><small class="text-muted">2 days</small></p>
										</div><!-- /.media-body -->
									  </div><!-- /.media -->

									  <p>BRAND NEW FACTORY SEALED PACKAGE !!!! Microsoft - Xbox One 500GB Game Bundle - Black on sale for only $275.00.</p>
									</div><!-- /.panel-body -->

									<a href="#" class="embed-responsive embed-responsive-16by9">
									  <img src="images\xx.jpg" alt="embed image" class="embed-responsive-item">
									</a>

									<div class="panel-body feedback-ads-liveliness">
									 
									</div><!-- /.feedback-ads-liveliness -->
								  </div><!-- /.feedback-ads-panel -->
								</li>            
							</ul>
				</div>
		</div>

		

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
