
<!-- Navigation handled by ng-include -->


<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">AD LISTING DONE BETTER</h1>
                    <p class="intro-text">A one stop destination for all your ad listing needs.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About CC</h2>
            <p>Campus Connection has a big data trend analysis powered marketplace for college students.  Limiting the buyers and sellers to within their university creates a more secure buying and selling environment by ensuring a common background among the participants. Each item being bought or sold comes with university specific metrics of the item such as average price and amount sold the previous week, enabling buyers to choose fair prices and sellers to feel confident. CC also provides a location sharing service, so students can quickly send or receive the locations of other students on campus.</p>

        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Price Point Visibility</h2>
                <p class="imgreadable">Product Price Visibility (PPV) feature guarantees sellers know the best price to sell their item, and offer buyers the security of knowing they are paying the correct amount. Using text searching techniques that match similar string patterns together, CC uses the information from new daily ads to show users accurate local prices of the products they buy and sell.</p>

            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact the CC team</h2>
            <p>Feel free to email us to provide some feedback!</p>
            <p><a href="mailto:campusconnectioninfo@gmail.com">campusconnectioninfo@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/CConnection2016" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/kshahbazk/Campus-Connection" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/100596216317351923373/posts/p/pub?hl=en" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">


        <!-- Modal Become a member -->
        <!-- Modal Login -->
    </div>
</div>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Campus Connection 2016</p>
    </div>
</footer>

<!-- jQuery -->

