<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Ad </title>

    <!-- Bootstrap Core CSS-->
    <link href="Assests/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS -->
    <link href="Assests/css/adlisting.css" rel="stylesheet">
    <link href="Assests/css/cardcss.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body>


<!--search-->

<!--ss--->
<!-- Page Header -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">

                <h1>ADS DONE BETTER</h1>

            </div>
        </div>

    </div>
</div>
<hr>
<!--------------------->
<div class="container">

    <!-- Search -->

    <div class="col-md-10 col-md-offset-2">
        <form action="" class="search-form">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>

    <!-- Search end -->


</div>
<!-- /header end -->

<!-- This is one row -->
<div class="container">

    <div class="row bootstrap snippets">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img width="360" height="270" src="http://ic.pics.livejournal.com/au_revoirx/54969136/74091/74091_900.jpg" alt="thumbnail">
                    <a href="#" class="thumb-cover"></a>
                    <div class="details">

                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-clock-o"></i> 57</b>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <b class="actions">
                        <a class="btn btn-neutral btn-round btn-fill" href="#">check me out</a>

                    </b>
                </div>
                <div class="card-info">
                    <a href="#">
                        <h3>Xbox One
                            <div class="time pull-right">$195</div>
                        </h3>
                        <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                        <p>Good Condition</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img width="360" height="270" src="http://demo.tagdiv.com/newsmag_tech/wp-content/uploads/2014/09/631.jpg" alt="thumbnail">
                    <a href="#" class="thumb-cover"></a>
                    <div class="details">

                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-clock-o"></i> 57</b>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <b class="actions">
                        <a class="btn btn-neutral btn-round btn-fill" href="#">check me out</a>

                    </b>
                </div>
                <div class="card-info">
                    <a href="#">
                        <h3>Xbox One
                            <div class="time pull-right">$195</div>
                        </h3>
                        <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                        <p>Good Condition</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img width="360" height="270" src="http://cdn3.dualshockers.com/wp-content/uploads/2015/06/xbox-one-console1.jpg" alt="thumbnail">
                    <a href="#" class="thumb-cover"></a>
                    <div class="details">

                        <div class="numbers">
                            <b class="downloads"><i class="fa fa-clock-o"></i> 57</b>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <b class="actions">
                        <a class="btn btn-neutral btn-round btn-fill" href="#">check me out</a>

                    </b>
                </div>
                <div class="card-info">
                    <a href="#">
                        <h3>Xbox One
                            <div class="time pull-right">$195</div>
                        </h3>
                        <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                        <p>Good Condition</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- / We need about 3 a page -->


</div>
<hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->



<hr>

<!-- Footer -->
<footer>

</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
