<style type="text/css">
   body {color:black}
</style>

	<div class="container" style="padding-top: 70px">

		<div class="row">

			<div class="col-xsm-2 col-md-2">
				<div class="thumbnail">
				<img ng-show="listing.imagePointer" src="files/images/{{listing.imagePointer}}" alt="...">
				<div class="caption">
					<!--Product information -->
				<h3>{{listing.title}}</h3><!-- name-->
				<p>

					{{listing.price | currency}}<br><!-- price -->
					Average price of the item: {{listing.ppvPointer.ppv | currency}}<!-- (weighted?) average price?  -->
				</p>
				<p><a href="#" class="btn btn-primary" role="button" >Buy </a></p>
				</div>
				</div>

			</div>



			<div class="col-xsm-2 col-md-10">

				<div class="panel panel-default">
				<div class="panel-helistinging">Product Information</div>
				<div class="panel-body">
					{{listing.description}}
				</div>
				</div>
				<div class="panel panel-default">
				<div class="panel-helistinging">Seller reviews: <a href="/profile?_id={{listing.userPointer._id}}">Profile</a></div>
				<div class="panel-body">
					<div ng-cloak class="col-xsm-2 col-md-6 ratingscontainer">
						<h2 ng-show="loaded && !noreviews">Average Rating: {{total | number : 2}}/5</h2>
						<h2 ng-show="loaded && noreviews">No Reviews! A blank slate.</h2>
						<div class="row panel panel-default" ng-repeat="r in ratings | limitTo : 3">
							<div class="col-md-3"><h2>{{r.userPointer.firstName}} {{r.userPointer.lastName}}</h2></div>
							<div class="col-md-2"><h2>{{r.rating}}/5</h2></div>
							<div class="col-md-7"  ><h3>{{r.review}} </h3></div>
						</div>

					</div>
				</div>
				</div>
			</div>

			</div>

		</div>

	</div>





<div class="container">
<div class="jumbotron">
	<h1>Other items being sold on campus</h1><!-- TF you want me to pull this from? -->
	<div class="row">

		<div class="col-xsm-2 col-md-4">

		<p>
			<div class="thumbnail">
				<img src="http://www.portableone.com/images/macbook-pro-for-college.jpg" alt="...">
				<!--How are we handling images?-->
				<div class="caption">
				<h3>MacBook pro</h3>
				</div>
			</div>
		</p>
		<p><a class="btn btn-primary btn-lg" href="http://facebook.com" role="button">Buy</a></p>
		</div>


		<div class="col-xsm-2 col-md-4">

		<p>
			<div class="thumbnail">
				<img src="http://www.dfcd.net/projects/ti89/holster.jpg" alt="...">
				<div class="caption">
				<h3>TI-89</h3>
				</div>
			</div>
		</p>
		<p><a class="btn btn-primary btn-lg" href="http://facebook.com" role="button">Buy</a></p>

		</div>


		<div class="col-xsm-2 col-md-4">

		<p>
			<div class="thumbnail">
				<img src="http://www5.pcmag.com/media/images/343056-lenovo-ideapad-yoga-2-pro-angle.jpg" alt="...">
				<div class="caption">
				<h3>Yoga Pro 2</h3>
				</div>
			</div>
		</p>
		<p><a class="btn btn-primary btn-lg" href="http://facebook.com" role="button">Buy</a></p>
				</div>
			</div>
		</div>

	</div>
</div>
</div>

<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="...">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default">Left</button>
	</div>
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default">Middle</button>
	</div>
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default">Right</button>
	</div>
	</div>
</div>