
<div class="container view-listing">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>{{listing.title}}</h2>

			</div>
		</div>
		<hr>
		<div class="accordian" ng-show="listing.imagePointer">
			<ul>
				<li ng-repeat="pointer in listing.imagePointer">
					<!--<div class="image_title">
						<a href="#">??? what do you want here Atif? I don't have filenames!</a>
					</div>
					<a href="#">-->
						<img src="files/images/{{pointer}}"/>
					</a>
				</li>

			</ul>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
			<div class="box">
				<div class="box-icon">
					<span class="fa fa-newspaper-o fa-4x"></span>
				</div>
				<div class="info">
					<h4 class="text-center">Description</h4>
					<p>{{listing.description}}</p>
					<a href="/profile?_id={{listing.userPointer._id}}" class="btn">Link</a>
				</div>
			</div>
		</div>

		<!--
            ****** Analytics *******
            -->
		<div class="col-sm-4 col-md-4">
			<!--
               ****** LINE CHART WIDGET *******
               -->

			<div id="line-chart-widget" class="panel">
				<div class="panel-heading">
					<h4 class="text-uppercase"><strong>Analytics</strong></h4>
				</div>

				<div class="panel-footer">
					<div class="list-block">
						<ul class="text-center legend">
							<li>
								<h3>{{listing.price | currency}}</h3>
								<strong>Listed Price</strong>
							</li>
							<li>
								<h3>{{listing.ppvPointer.ppv | currency}}</h3>
								<strong>PPV Price</strong>
							</li>
						</ul>
					</div>
					<div class="chart-block clearfix">

						<div class="pull-right">
							<div class="change text-center">{{(listing.price - listing.ppvPointer.ppv) | custCurrency}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>Related Items</h2>

		</div>
	</div>

</div>