<style>
* {
	margin: 0;
	padding: 0;
}
</style>
<div class="container view-listing">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>{{listing.title}}</h2>

			</div>
		</div>
		<hr>
		<div class="accordian" ng-show="listing.imagePointer">
			<ul>
				<li ng-repeat="pointer in listing.imagePointer">
					<!--<div class="image_title">
						<a href="#">??? what do you want here Atif? I don't have filenames!</a>
					</div>
					<a href="#">-->
						<img src="files/images/{{pointer}}"/>
					</a>
				</li>

			</ul>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
			<div class="box">
				<div class="box-icon">
					<span class="fa fa-newspaper-o fa-4x"></span>
				</div>
				<div class="info">
					<h4 class="text-center">Description</h4>
					<p>{{listing.description}}</p>
					<a href="/profile?_id={{listing.userPointer._id}}" class="btn">Go to Profile</a>
				</div>
			</div>
		</div>

		<!--
            ****** Analytics *******
            -->
		<div class="col-sm-4 col-md-4">
			<!--
               ****** LINE CHART WIDGET *******
               -->

			<div id="line-chart-widget" class="panel">
				<div class="panel-heading">
					<h4 class="text-uppercase"><strong>Analytics</strong></h4>
				</div>

				<div class="panel-footer">
					<div class="list-block">
						<ul class="text-center legend">
							<li>
								<h3>{{listing.price | currency}}</h3>
								<strong>Listed Price</strong>
							</li>
							<li>
								<h3>{{listing.ppvPointer.ppv || listing.price | currency}}</h3>
								<strong>PPV Price</strong>
							</li>
						</ul>
					</div>
					<div class="chart-block clearfix">

						<div class="pull-right">
							<div class="change text-center">{{(listing.price - (listing.ppvPointer.ppv || listing.price)) | custCurrency}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="row bootstrap snippets">
		<div class="col-lg-12 text-center">
			<h2>Related Items</h2>
				<div ng-repeat="ad in ads | limitTo:3:1" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="card">
						<div class="thumbnail" style="text-align: left;">
							<img ng-show="ad.imagePointer" src="files/images/{{ad.imagePointer[0]}}" alt="thumbnail">
							<a href="#" class="thumb-cover"></a>
							<div class="details">

								<div class="numbers">
									<b class="downloads"><i class="fa fa-clock-o"></i>{{ad.createdAt | custDate}}</b>

								</div>
								<div class="clearfix"></div>
							</div>
							<b class="actions">
								<a class="btn btn-neutral btn-round btn-fill" href="viewListing?_id={{ad._id}}">Learn More</a>
							</b>
						</div>
						<div class="card-info" style="text-align: left;">
							<a href="#">
								<h3>{{ad.title}}
									<div ng-style="((ad.delta = ad.price - (ad.ppvPointer.ppv || ad.price)) <= 0) ? {color: 'green'}:{color: 'red'}" class="time pull-right">{{ad.price | currency}} {{ad.delta | custDelta}}</div>
								</h3>
								<div ng-style="qualityOptions[ad.quality - 1].style"><i class="fa fa-circle-o"></i></div>
								<p>{{qualityOptions[ad.quality - 1].text}}</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>