
.ratingModal .modal-body:not(.two-col) { padding:0px }
.ratingModal .glyphicon { margin-right:5px; }
.ratingModal .glyphicon-new-window { margin-left:5px; }
.ratingModal .modal-body .radio,.modal-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.ratingModal .modal-body .list-group {margin-bottom: 0;}
.ratingModal .margin-bottom-none { margin-bottom: 0; }
.ratingModal .modal-body .radio label,.modal-body .checkbox label { display:block; }

@media screen and (max-width: 325px){
    .ratingModal .btn-close {
        margin-top: 5px;
        width: 100%;
    }


}

.ratingModal .progress {
    margin-right: 10px;
}

.ratingModal .demoPadder {
    padding-top:15px;
    }
    .btn-default {
  color: #007aff;
  background-color: #fff;
  border-color: #007aff;
}

.ratingModal .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #fff;
  background-color: #007aff;
  border-color: #007aff;
    }