

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-controller="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-creative-commons"></i>  <span class="light"></span> Campus Connection
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li ng-show="user.token"><a href="/createAd">Sell</a></li>
                <li ng-show="user.token"><a href="/home">Buy</a></li>
                <li ng-show="user.token"><a href="/profile">Profile</a></li>
                <li ng-show="user.token"><a href="/LogOut">Log Out</a></li>
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li ng-show="!user.token"><!--This is annoying. what are we going to do with this element when we aren't on the landing page? load the landing page and scroll to it?-->
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li ng-show="!user.token">
                    <a href="#" ng-click="loginModal()">
                        Log In
                    </a>
                </li>
                <li ng-show="!user.token">
                    <a href="#" ng-click="registerModal()">
                        Sign Up
                    </a> 
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</div>
<script type="text/ng-template" id="newmember" >
    <form ng-submit="createAccount()">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Become a member</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="form-group has-feedback">
                    <label class="control-label" for="firstnamelabel">* First name</label>
                    <input type="text" class="form-control" id="firstnameinput" ng-model="user.firstName" aria-describedby="firstnameinput" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label" for="lastnamelabel">* Last name</label>
                    <input type="text" class="form-control" id="lastnameinput" ng-model="user.lastName" aria-describedby="lastnameinput" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="usernamelabel">* Username</label>
                    <input type="text" class="form-control" id="usernameinput" ng-model="user.username" aria-describedby="lastnameinput" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="emaillabel">* Email address</label>
                    <input type="email" class="form-control" id="emailinput" ng-model="user.email" aria-describedby="emailinput" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label" for="passwordlabel">* Password</label>
                    <input type="password" class="form-control" id="passwordinput" ng-model="user.password" aria-describedby="passwordinput" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label" for="re-enterpasswordlabel">* Re-enter password</label>
                    <input type="password" class="form-control" id="re-enterpasswordinput"  ng-model="password2" aria-describedby="re-enterpasswordinput" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group has-feedback" >
                    <label class="control-label" for="postcodelabel">* University</label>
                    <select class="form-control" ng-model="user.location" ng-options="uni.text as uni.text for uni in universities" id='sel1' required>
                        <option value="">Select University</option>
                    </select>
                </div><br/>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </div><!-- end modal-Body --><!-- end become a member modal -->
    </form>
</script> <!-- end Form -->

<!-- Modal Login -->
<script type="text/ng-template" id="loginform">
<form id="loginform" ng-submit="logIn()">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>

            <div class="modal-body">
                <div class="form-group has-feedback">
                    <label class="control-label">Email Address</label>
                    <input type="email" class="form-control" id="inputSuccess2" ng-model="username" aria-describedby="inputSuccess2Status" placeholder="Email">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" id="inputSuccess2" ng-model="password" aria-describedby="inputSuccess2Status" placeholder="Password">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <input type="checkbox" value="rememberme" id="rememberme">Remember me <br/><br/>

                <a href="#">Forgot your password?</a>

            </div>

            <div class="modal-footer">
                <h4 class="modal-title" id="myModalLabel">Register</h4>
                <a href="#" ng-click="toRegister()" > New user register here</a>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div><!-- end become a member modal -->
    </form>
</script> <!-- end login form -->