<style>
    body  {
        background-image: url("http://images.alphacoders.com/538/53823.jpg");


    }
    .jumbotron {
        margin-bottom: 0px;
        height: 350px;
        color: white;
        text-shadow: black 0.3em 0.3em 0.3em;
        background:transparent;
    }
</style>



<!-- About Section -->
<div class="container-fluid">
    <div class="jumbotron">
        <h1>CampusConnection</h1>
        <div class="row">
            <div class="col-xsm-2 col-md-2">
                <p>Campus Connection is a classified ads website for university students </p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
</div>






<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; CampusConnection 2014</p>
    </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>
